---
BasedOnStyle: Google
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: 100
IndentPPDirectives: AfterHash
IndentRequires: true
IndentWidth: 2
Language: Cpp
SortUsingDeclarations: false
TabWidth: 2
UseTab: Never
IncludeCategories:
  - Regex:    '^<.*\..*>$'
    Priority: 2
  - Regex:    '^<.*>$'
    Priority: 1
  - Regex:    '.*'
    Priority: 3
...
