[submodule "drizzle/deps/robin-map"]
  path = drizzle/deps/robin-map
  url = https://github.com/Tessil/robin-map
[submodule "drizzle/deps/sh"]
  path = drizzle/deps/sh
  url = https://github.com/jsmolka/sh
